
{block content}

<h1>Vozidla</h1>

<div style="background: burlywood; padding: 30px;">
    <a n:href="edit" class="btn btn-success float-right">Vytvořit nový</a>
    <div style="margin-top: 50px">
        {control vehiclesDatagrid}
    </div>
</div>