{block content}

<h1>Vozidla</h1>

<div style="background: burlywood; padding: 30px;">
    <a n:href="default" class="btn btn-success float-right">Zpět na přehled</a>
    <div style="margin-top: 50px">
        {control vehicleForm}
    </div>
</div>